.btn{
  padding: 15px 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  min-width: 160px;
  text-align: center;
  transition: 0.3s ease;
  line-height: 1;
  border: 2px solid transparent;
  &-primary{
    color: #fff;
    background: #000;
    &:hover{
      background: #fff;
      color: #000;
    }
  }
  &-secondary{
    color: #000;
    background: #e2d0a2;
    &:hover{
      background: transparent;
      color: #e2d0a2;
      border-color: #e2d0a2;
    }
  }
}
