.main-navigation{
  display: flex;
  align-items: center;
  margin-left: auto;
  a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 20px;
    @media (max-width: 1202px){
      padding: 0 16px;
    }
    &:hover{
      color: #e8d4a2;
    }
  }
  ul{
    display: inline-flex;
  }
  li{
    list-style: none;

  }
  .menu{
    margin: 0;
    padding: 0;
  }
  .top-phone{
    background: #e8d4a2;
    padding: 30px 35px;
    color: #231f20;
    display: flex;
    align-items: center;
    @media (max-width: 1202px){
      padding: 20px 35px;
    }
    svg{
      margin-right: 10px;
    }
    &:hover{
      color: #fff;
    }
  }
}
.menu-primary-menu-container {
  background: #262425;
  padding: 30px 20px;
  @media (max-width: 1202px){
    padding: 20px 0;
  }
}

