body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(16);
  line-height: $font__line-height-body;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

h2{
  @include font-size(50);
}
h3{
  @include font-size(35);
  margin-bottom: 15px;
  line-height: 1.2;
}
h5{
  opacity: 0.8;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 15px;
}
