.site-footer {
  font-family: $font-sec;
  font-weight: bold;
  font-size: 14px;
  padding: 50px 0 15px;

}

.site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer-menu {
  margin: 20px 0;
  padding: 0;
  li {
    list-style: none;
    float: left;
    a {
      color: $color__text-main;
      text-decoration: none;
      position: relative;
      display: inline-block;
      &:after {
        position: absolute;
        content: '';
        top: 0;
        right: -1px;
        border-left: 1px solid $color__text-main;
        width: 1px;
        height: 100%;
      }

    }
    &:last-child {
     a{
       &:after {
         border: 0;
       }
     }
    }
  }
  @media (min-width: 768px) {
    margin: 0;
  }
  @media (min-width: 992px) {
    margin-right: 20px;
  }
  a {
    padding: 0 5px;
  }
}

.design-by {
  margin-bottom: 10px;
  @media (min-width: 768px) {
    margin-top: 10px;
  }
}

.social-links {
  padding: 0;
  margin: 0;
  @media (min-width: 768px) {
    margin: 10px 0 0 auto;
  }
  @media (min-width: 992px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    margin: 0 0 0 auto;
  }
  li {
    list-style: none;
    margin-left: 10px;
    float: left;
  }
  a {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #a6a74d;
    &:hover {
      color: #333;
    }
    svg {
      width: 30px;
      height: 30px;
      border-radius: 2px;
    }
  }
}

svg.icon-facebook {
  width: 30px;
  height: 30px;
}

svg.icon-twitter {
  width: 30px;
  height: 30px;
}

.footer-top {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  h4 {
    @include font-size(18);
    font-family: $font-sec;
  }
}

.footer-address {
  font-weight: 400;
  padding-bottom: 20px;
  a {
    color: #000;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
  }
  p {
    line-height: 1.7;
  }
  h4 {
    @include font-size(21);
  }
  @media (min-width: 768px) {
    padding-right: 30px;
  }
  @media (min-width: 1200px) {
    max-width: 33.33%;
  }
  @media (min-width: 1400px) {
    max-width: 210px;
  }
}

.facebook-feed {
  padding-top: 20px;
  @media (min-width: 768px) {
    width: 50%;
    padding-right: 30px;
  }
  @media (min-width: 1200px) {
    max-width: 33.33%;
    padding-right: 40px;
  }
  @media (min-width: 1400px) {

    max-width: 340px;
  }
}

.twitter-feed {
  padding: 20px 0;
  @media (min-width: 768px) {
    width: 50%;
    padding-right: 20px;
  }
  @media (min-width: 992px) {
    width: calc(100% - 490px);
  }
  @media (min-width: 1200px) {
    max-width: 33.33%;
  }

  @media (min-width: 1400px) {
    max-width: 310px;
    padding-right: 50px;
  }
  #ctf .ctf-item {
    padding: 0;
  }
}

.facebook-feed, .twitter-feed {
  h4 {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  svg {
    margin-right: 15px;
    border-radius: 3px;
  }
  a {
    color: #202020;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-post {
  text-align: center;
  padding: 20px 0;
  font-family: $font-sec;
  @include font-size(18);
  font-weight: bold;
  border-bottom: 1px solid $color__sec;
  @media (min-width: 576px) {
    display: flex;
    flex-wrap: wrap;
    border: 0;
  }
  @media (min-width: 768px) {
    &__image {
      max-width: 260px;
    }
  }
  @media (min-width: 992px) {
    width: 490px;
  }
  @media (min-width: 1400px) {
    display: block;
  }
  &__image {
    margin: 0 auto;
    @media (min-width: 576px) {
      width: 260px;
      margin: 0;
    }
    @media (min-width: 1400px) {
      float: left;
    }
  }
  &__content {
    padding: 15px 20px;
    @media (min-width: 576px) {
      width: 230px;
      padding: 30px 20px;
      border: 1px solid $color__sec;
      border-left: 0;
    }
    @media (min-width: 1400px) {
      float: left;
      padding: 33px 20px;
    }
  }
  a {
    color: $color__sec;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
  }

}