.site-info{
  color: #fff;
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}
.footer-map{
  max-width: 670px;
  width: 100%;
  .acf-map {
    width: 100%;
    height: 100%;
    border: #ccc solid 1px;
  }

  // Fixes potential theme css conflict.
  .acf-map img {
    max-width: inherit !important;
  }
}
.footer-location{
  display: flex;
  min-height: 200px;
}
.footer-address{
  background: #e2d0a2;
  width: calc(100% - 670px);
  font-weight: 500;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  line-height: 1.2;
  ul{
    list-style: none;
    margin: 0 ;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

  }
  h4{
    @include font-size(18);
    font-weight: 800;
    margin-bottom: 5px;
    line-height: 1;
    text-transform: capitalize;
  }
  li{
    max-width: 180px;
    margin: 0 20px;
  }
}
