@import "home";

.banner {
  position: relative;
  color: #fff;
  min-height: 600px;
  display: flex;
  align-items: flex-end;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 561px;
    opacity: 0.63;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  }

  h1 {
    position: relative;
    z-index: 22;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 150px;
  }

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
  }
}


.intro-block {
  color: #fff;
  padding: 80px 0 40px;
  .section-heading {
    font-weight: 600;
    margin-bottom: 45px;
  }
}
.gallery-block{
  padding-bottom: 80px;
}
