.slider__item {
  padding: 540px 0 115px;
  position: relative;
  background-size: cover !important;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 561px;
    opacity: 0.63;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  }
}

.slider__content {
  max-width: 415px;
  color: #fff;
  position: relative;
  z-index: 2;

  h2 {
    @include font-size(50);
    color: #fff;
    line-height: 1;
    text-transform: capitalize;
  }
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  li {

  }
}

.about-block {
  .content-block {
    background: #e8d4a2;
    padding: 70px;

    .sub-heading {
      @include font-size(25);
      line-height: 1.2;
      margin-bottom: 15px;
      display: block;
    }

    @include font-size(20);
  }

  .btn-group {
    margin-top: 40px;
  }
}

.focus-block {
  margin-bottom: 40px;

  h4 {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    margin: 0;
    font-weight: 400;

    b {
      @include font-size(20);
    }
  }
}

.focus {
  display: flex;
}

.focus-item {
  background: #000;
  color: #fff;

  h2 {
    @include font-size(25);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-weight: 500;
    margin-bottom: 30px;
  }

  .content-block {
    padding: 0 60px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &:nth-child(2) {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column-reverse;

    .btn {
      background-color: #000;
      color: #fff;

      &:hover {
        color: #000;
        background-color: transparent;
        border-color: #000;
      }
    }
  }
}

.c-image-content {
  .container {
    display: flex;
  }

  .content-block {
    color: #fff;
    padding: 60px;
    max-width: 50%;

    p {
      font-weight: 500;
      margin-bottom: 30px;
    }

    h2 {
      @include font-size(25);
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}

#resources-block {
  .content-block {
    background: #fff;
    color: #000;
  }
}

#products-block {
  .content-block {
    background: #000;
  }
}
